@use "../abstracts";

.checkout-page {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;

    &__breadcrumbs {
        background: var(--checkout-breadcrumbs-bg);
        box-shadow: 0 20px 60px 10px var(--checkout-breadcrumbs-shadow);
    }
}
.checkout-container {
    margin-top: 30px;
    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}
.card-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-card-info-bg);
    box-shadow: 0 20px 60px 10px var(--checkout-card-info-shadow);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__list {
        margin-top: -30px;
        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }
    &__bottom {
        margin-top: 30px;
    }
    &__row,
    &__continue-link {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__continue {
        height: 100%;
        display: flex;
        align-items: flex-end;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &-link:hover &-icon {
            transform: translateY(5px);
        }
        &-icon {
            rotate: 90deg;
            transition: transform 0.3s;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 10px;

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;
        }
        &--block {
            margin-top: 30px;
            @include abstracts.screen(md) {
                margin-top: 0px;
                padding: 20px 0 0 0;
                border-top: 1px solid var(--checkout-separate-bg);
                flex-direction: column;
                gap: 20px;
                align-items: flex-start !important;
            }
        }
    }

    &__separate {
        margin: 30px 0;
        height: 1px;
        background: var(--checkout-separate-bg);
    }
    &__sub-label {
        font-weight: 400;
    }
    &__next-btn {
        margin-top: 30px;
    }

    &__back-arrow {
        width: 20px;
        margin-right: 20px;
    }
    // Shipping

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
        }
    }

    &__sub-heading {
        margin: 30px 0;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    // payment
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__form {
        margin-bottom: 30px;
    }
    &__form-row {
        flex-direction: row;
        gap: 20px;
    }

    // Btn edit
    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
    }
    // Checkbox
    &__checkbox {
        &-input {
            appearance: none;
            &::before {
                content: url("../icons/checkbox-uncheck.svg");
            }
            &:not(:checked)::before {
                filter: var(--icon-color);
            }
            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }
    }

    // Favorive
    &__check-all {
        margin: 30px 0;
    }
    &__all-checkout {
        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}
.gift-item {
    display: flex;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 76px;
        height: 76px;
        border-radius: 14px;
        background: var(--checkout-gift-item-icon-bg);
        box-shadow: 0 20px 60px 10px var(--checkout-gift-item-icon-shadow);
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
.card-info + .card-info {
    margin-top: 30px;
}
.card-item {
    display: flex;
    padding: 30px 0;

    border-bottom: 1px solid var(--checkout-separate-bg);
    @include abstracts.screen(md) {
        padding: 16px 0;

        &:last-child {
            border-bottom: none;
        }
    }

    &__thumb {
        width: 172px;
        height: 172px;
        object-fit: contain;

        margin: 0 30px 0 20px;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }
        @include abstracts.screen(lg) {
            width: 100px;
            height: 100px;
        }
        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
            margin: 0 16px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        align-self: flex-start;

        &-left {
            flex: 1;
        }
        &-right {
            display: flex;
            flex-direction: column;
        }
        @include abstracts.screen(md) {
            flex-direction: column;
            &-right {
                margin-top: 16px;
            }
        }
    }
    &__title {
        font-size: 1.8rem;
        max-width: 374px;

        font-weight: 500;
        line-height: 144.444%;
    }
    &__price-wrap {
        margin: 16px 0;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__status {
        color: #67b044;
    }
    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 44px;

        margin-top: auto;

        @include abstracts.screen(sm) {
            gap: 10px;
        }

        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;

        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &-btn {
            display: flex;
        }
    }
    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;
        @include abstracts.screen(md) {
            text-align: left;
            margin-bottom: 16px;
        }
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        color: #9e9da8;
        font-weight: 500;
        line-height: 150%;
        &:first-child {
            margin-right: 10px;
        }
    }

    // Favorite
    &__ctrl-wrap {
        display: flex;
        gap: 30px;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__checkout-btn {
        margin-top: auto;

        @include abstracts.screen(md) {
            max-width: 200px;
        }
    }
}

//Shipping
.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__btn {
        @include abstracts.screen(md) {
            height: 46px;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 4px;

        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__list {
    }

    &__message {
        margin-top: 30px;
        margin-top: 500;
    }
    &__link {
        color: #77dae6;
    }
}
.address-card {
    margin-top: 30px;
    display: flex;
    gap: 16px;

    @include abstracts.screen(md) {
        flex-direction: column;
    }
    &__left {
        flex: 1;
        display: flex;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;
        width: min(520px, 90%);
    }
    &__list {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: disc inside;

        font-size: 1.4rem;
        line-height: 142.857%;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    &__item {
        margin-left: 8px;
    }
    &__ctrl {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
}

// Payment

.payment-item {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--payment-item-bg);

    @include abstracts.screen(sm) {
        align-items: flex-start;
    }

    &--pointer {
        cursor: pointer;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        flex: 1;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__info {
        flex: 1;
    }

    &__thumb {
        width: 70px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 4px;
    }
    &__desc,
    &__detail {
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__detail {
        margin-right: -8px;
        padding: 8px;
        color: #0071dc;
    }
    &__checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 14px;

        &-input:checked + .payment-item__cost {
            color: inherit;
        }
    }
    &__cost {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #9e9da8;
    }
}
