.profile {
    margin-bottom: 50px;
    &-container {
        margin-top: 30px;
    }
    &__sidebar {
        border-radius: 20px;
        background: var(--profile-bg);
        box-shadow: 0 20px 60px 10px var(--profile-shadow);
        overflow: hidden;
    }

    // User

    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 20px 20px;
        background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
            url(../img/profile/user-bg.png) no-repeat center/cover;

        box-shadow: 0 20px 60px 10px var(--profile-user-shadow);

        color: var(--profile-user-text-color);

        &__avatar {
            width: 116px;
            height: 116px;
            border-radius: 50%;
            object-fit: cover;

            border: 5px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
            background: #ccc content-box;
        }
        &__name {
            margin-top: 15px;

            font-size: 1.8rem;
            font-weight: 700;
            line-height: 144.444%;
        }
        &__desc {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }
    &-menu {
        margin-top: 30px;

        &__content {
            padding: 0 30px 30px;
        }

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            margin-bottom: 11px;
        }

        &__link {
            height: 34px;
            padding: 0 4px;
            border-radius: 4px;

            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 1.5rem;
            line-height: 146.667%;
            transition: background 0.2s;

            &:hover {
                background: var(--profile-menu-link-hover);
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 24px;
        }
    }
    &__desc {
        margin-bottom: 16px;
    }
}
