@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(22%) saturate(25%) hue-rotate(72deg) brightness(113%)
        contrast(100%);

    --header-bg-color: #171c28;
    --body-bg-color: #292e39;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-avt-shadow: rgba(0, 0, 0, 0.08);

    @include abstracts.screen(lg) {
        html {
            --top-act-group-bg-color: #292e39;
            --header-shadow-color: rgba(0, 0, 0, 0.2);
        }
    }

    // Dropdown
    --dropdown-bg-color: #343947;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --drowdown-arrow-color: brightness(0) saturate(100%) invert(21%) sepia(10%) saturate(1070%) hue-rotate(187deg)
        brightness(92%) contrast(90%);
    --top-menu-boder-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2038%) hue-rotate(171deg)
        brightness(121%) contrast(95%);

    //  Sidebar
    --sidebar-bg-color: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // Cate-item
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-color: #292e39;
    --cate-item-title-color: #fff;

    // Buttons

    --filter-btn-color: #292e39;
    --filter-btn-bg-color: #171c28;

    // Product card

    --product-card-bg-color: #171c28;
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);
}
