@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(22%) saturate(25%) hue-rotate(72deg) brightness(113%)
        contrast(100%);

    --header-bg-color: #171c28;
    --body-bg-color: #292e39;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-avt-shadow: rgba(0, 0, 0, 0.08);

    @include abstracts.screen(lg) {
        html {
            --top-act-group-bg-color: #292e39;
            --header-shadow-color: rgba(0, 0, 0, 0.2);
        }
    }

    // Dropdown
    --dropdown-bg-color: #343947;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --drowdown-arrow-color: brightness(0) saturate(100%) invert(21%) sepia(10%) saturate(1070%) hue-rotate(187deg)
        brightness(92%) contrast(90%);
    --top-menu-boder-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2038%) hue-rotate(171deg)
        brightness(121%) contrast(95%);
    // Header

    // Act Dropdown
    --header-act-dropdown-bg: #343947;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-arrow-bg: brightness(0) saturate(100%) invert(21%) sepia(10%) saturate(1070%)
        hue-rotate(187deg) brightness(92%) contrast(90%);
    --header-act-dropdown-bottom-boder: #171c28;

    //  Sidebar
    --sidebar-bg-color: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // Cate-item
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-color: #292e39;
    --cate-item-title-color: #fff;

    // Buttons

    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;

    --button-outline-text-color: #b9babe;

    // Product card

    --product-card-bg-color: #171c28;
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);

    // Filter
    --filter-form-bg-color: #343947;
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);

    --filter-from-arrow-down-bg: brightness(0) saturate(100%) invert(23%) sepia(10%) saturate(892%) hue-rotate(187deg)
        brightness(94%) contrast(98%);

    // Footer
    --footer-bg-color: #171c28;
    --footer-bottom-boder: #eee;

    //Auth
    --auth-content-bg-color: #292e39;
    --auth-intro-bg: #171c28;

    --auth-intro-text-color: #b9babe;
    --auth-content-heading-color: #b9babe;

    @include abstracts.screen(md) {
    }

    // form
    --form-input-placeholder-color: #b9babe;
    --from-tag-bg: #171c28;

    // Product Detail
    --product-detail-bg: #292e39;
    --product-info-content-bg: #171c28;
    --product-info-content-shadow: rgba(23, 28, 40, 0.2);
    --prod-info-tag-bg: #292e39;
    --prod-detail-info-bg: #171c28;

    // breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #171c28;
    }

    // Search Bar
    --search-bar-bg: #171c28;
    --search-bar-icon-color-dark: brightness(0) saturate(100%) invert(87%) sepia(7%) saturate(119%) hue-rotate(191deg)
        brightness(87%) contrast(86%);

    // Review Card
    --review-card-bg: #171c28;

    @include abstracts.screen(md) {
        --review-card-bg: #171c28;
    }

    // Card Info
    --checkout-breadcrumbs-bg: #171c28;
    --checkout-breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    --checkout-card-info-bg: #171c28;
    --checkout-card-info-shadow: rgba(23, 28, 40, 0.2);

    --checkout-separate-bg: #292e39;
    --checkout-gift-item-icon-bg: #292e39;
    --checkout-gift-item-icon-shadow: none;
}
