@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(31%) saturate(1089%) hue-rotate(210deg) brightness(97%)
        contrast(98%);

    --header-bg-color: #eeeeee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-avt-shadow: rgba(0, 0, 0, 0.08);

    @include abstracts.screen(lg) {
        html {
            --header-bg-color: #fff;
            --top-act-group-bg-color: #f6f6f6;
            --header-shadow-color: rgba(237, 237, 246, 0.2);
        }
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-boder-color: #d2d1d6;
    // Header
    --header-lg-shadow-color: rgba(237, 237, 246, 0.2);
    // Act Dropdown
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-bottom-boder: #d2d1d6;

    //  Side Bar
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // Cate-item
    --cate-item-bg-color: #eee;
    --cate-item-thumb-color: #fff;
    --cate-item-title-color: #000;
    @include abstracts.screen(md) {
        --cate-item-bg-color: #fff;
    }

    // Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    --like-btn-bg-color: #fff;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);

    // Product card

    --product-card-bg-color: #fff;
    --product-card-shadow-color: rgba(237, 237, 246, 0.2);
    --product-card-brand-color: #9e9da8;

    // Filter
    --filter-form-bg-color: #fff;
    --filter-form-shadow-color: rgba(200, 200, 200, 0.4);

    // Footer
    --footer-bg-color: #eee;
    --footer-bottom-boder: #000;

    //Auth
    --auth-content-bg-color: #fff;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }
    // form
    --form-input-placeholder-color: #d2d1d6;
    --from-tag-bg: #f8f8fb;

    // Product Detail
    --product-detail-bg: #fff;
    --product-info-content-bg: #fff;
    --product-info-content-shadow: rgba(237, 237, 246, 0.2);
    --prod-info-tag-bg: #ededf6;
    --prod-detail-info-bg: #f6f6f6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
    }

    // breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search Bar
    --search-bar-bg: #fff;

    // Review Card
    --review-card-bg: #fafafd;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Card Info
    --checkout-breadcrumbs-bg: #fff;

    --checkout-card-info-bg: #fff;
    --checkout-card-info-shadow: rgba(237, 237, 246, 0.2);

    --checkout-separate-bg: #d2d1d6;
    --checkout-gift-item-icon-bg: rgb(118, 68, 225, 0.1);
    --checkout-gift-item-icon-shadow: rgba(237, 237, 246, 0.2);

    //modal
    --modal-bg: #fff;
    --modal-shadow: rgba(237, 237, 246, 0.2);

    --modal-form-search-boder: #6c6c72;

    // Payment
    --payment-item-bg: #f6f6f6;

    // Profile
    --profile-bg: #fff;
    --profile-shadow: rgba(237, 237, 246, 0.2);
    --profile-user-text-color: #fff;
    --profile-user-shadow: rgba(237, 237, 246, 0.2);

    --profile-menu-link-hover: #ebebeb;

    // Account info
    --account-info-bg: #f8f8fb;
    --account-info-icon-bg: #f8f8fb;
}
