@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(31%) saturate(1089%) hue-rotate(210deg) brightness(97%)
        contrast(98%);

    --header-bg-color: #eeeeee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-avt-shadow: rgba(0, 0, 0, 0.08);

    @include abstracts.breakpoint(lg) {
        html {
            --header-bg-color: #fff;
            --top-act-group-bg-color: #f6f6f6;
            --header-shadow-color: rgba(237, 237, 246, 0.2);
        }
    }

    // dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-boder-color: #d2d1d6;

    //  shibar
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);
}
