@use "../abstracts";
.footer {
    margin-top: 40px;
    padding: 70px 0 30px;
    background: var(--footer-bg-color);
    @include abstracts.screen(xl) {
        padding: 50px 0 30px;
    }
    &-logo {
        margin-top: 50px;
        @include abstracts.screen(xl) {
            margin-top: 0;
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2.5fr;
        gap: 60px;

        @include abstracts.screen(xl) {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }
    &__col-top,
    &__col-bottom {
        @include abstracts.screen(xl) {
            grid-column: span 2;
        }
        @include abstracts.screen(sm) {
            grid-column: span 1;
        }
    }
    &__desc {
        margin-top: 30px;
        font-size: 1.6rem;
        line-height: 146.667%;
    }
    &__section + &__section {
        margin-top: 30px;
    }
    &__heading {
        font-size: 1.8rem;
        font-weight: 500;
        &--small {
            font-size: 1.6rem;
        }
    }

    &__item {
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 400;
        :hover {
            color: rgb(0, 113, 220);
            font-weight: 500;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--footer-bottom-boder);
            transition: background, border;
            transition-duration: 0.4s;
            &:hover {
                background: #77dae6;
                border: none;
            }
            &:hover .footer__social-icon {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
                    brightness(103%) contrast(103%);
            }
        }
        &-icon {
            width: 20px;
            height: 20px;
            transition: filter 0.4s;
        }
    }
    &__form {
        &-group {
            display: flex;
            gap: 10px;
            padding: 16px 0;
        }
        &-input {
            width: 100%;
            padding: 8px 12px;
            border-radius: 6px;
            border: 2px solid #d2d1d6;
            font-size: 1.5rem;
            font-weight: 500;
            @include abstracts.screen(xl) {
                width: 100%;
            }
        }
    }
    &__btn {
        padding: 8px 12px;
        border-radius: 6px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    &__bottom {
        margin-top: 30px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--footer-bottom-boder);
        @include abstracts.screen(xl) {
            margin-top: 10px;
        }
    }
    &__copyright {
        font-size: 1.8;
    }
}
