@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);
    @include abstracts.breakpoint(lg) {
        box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.2);
    }
}
.top__bar {
    position: relative;
    @extend %flexItemCenter;
    padding: 30px 0;
    @include abstracts.breakpoint(sm) {
        justify-content: space-between;
    }
    @include abstracts.breakpoint(md) {
        justify-content: space-between;
    }
    @include abstracts.breakpoint(lg) {
        justify-content: space-between;
    }
}
.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 25px;
    }

    @include abstracts.breakpoint(lg) {
        transform: translateX(-100%);
        margin-left: 0px;

        position: fixed;
        z-index: 9;
        inset: 0 50% 0 0;
        border-radius: 0 20px 20px 0;
        background: var(--sidebar-bg-color);
        box-shadow: 0 40px 90px 20px var(--sidebar-shadow-color);
        padding: 20px 0;
        transition: transform 0.5s ease-in;
        &.show {
            transform: translateX(0);
            box-shadow: 0 40px 90px 20px var(--sidebar-shadow-color);
        }
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstracts.breakpoint(sm) {
        inset: 0 20% 0 0;
    }
    &__overlay {
        visibility: hidden;
        opacity: 0;
        z-index: 8;
        transition: opacity, visibility;
        transition-duration: 0.5s;
        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
    &__close-btn {
        @include abstracts.breakpoint(lg) {
            padding: 10px 40px;
        }
        @include abstracts.breakpoint(sm) {
            padding: 0 20px 10px;
        }
    }
    &__list {
        @extend %flexItemCenter;
        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: start;

            overscroll-behavior: contain;
            height: calc(100% - 40px);
            overflow-y: auto;
        }
        @include abstracts.breakpoint(md) {
            height: calc(100% - 140px);
        }
        @include abstracts.breakpoint(sm) {
            height: calc(100% - 120px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }
        @include abstracts.breakpoint(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }
        }
    }
    &__link {
        @extend %flexItemCenter;
        padding: 0 15px;
        gap: 6px;
        height: 50px;
        color: var(--text-color);
        /* Medium 15 */

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
        }
        @include abstracts.breakpoint(sm) {
            height: 44px;
            padding: 0 20px;
        }
    }
    &__arrow {
        margin-top: 3px;
        @include abstracts.breakpoint(lg) {
            transform: rotate(-90deg);
            transition: transform 0.4s ease;
        }
    }

    &__item--active &__arrow {
        transform: rotate(0deg);
    }
}
.top-act {
    @extend %flexItemCenter;

    margin-left: auto;
    gap: 20px;
    @include abstracts.breakpoint(lg) {
        margin-left: 0;
    }
    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
    }
    &__group--single &__btn {
        padding: 13px;
    }
    &__btn {
        @extend %flexItemCenter;
        padding: 10px 20px;
        gap: 10px;
    }
    &__title {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }
    &__avt {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 14px 2px var(--top-act-avt-shadow);
    }
}
.nav-btn {
    height: 50px;
    padding: 0 40px;
    align-items: center;
    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__title {
        margin-left: 16px;
    }

    &__qnt {
        margin-left: auto;
    }
    @include abstracts.breakpoint(sm) {
        height: 44px;
        padding: 0 20px;
    }
}
