@use "../abstracts";

%fill_screen {
    position: fixed;
    inset: 0;
}
.dialog {
    @extend %fill_screen;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: relative;
        z-index: 1;
        max-width: min(450px, 100% - 40px);

        padding: 30px;
        background: var(--dialog-bg);
        border-radius: 20px;
        box-shadow: 0 20px 60px 10px var(--dialog-shadow);
    }
    &__overlay {
        @extend %fill_screen;
        background: rgba($color: #000000, $alpha: 0.5);
    }
    &__text {
        font-size: 1.8rem;
        line-height: 150%;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-end;
    }
    @include abstracts.screen(md) {
        gap: 20px;
        padding: 20px;
        &__btn {
            flex: 1;
        }
    }
}
