.dropdown {
    position: absolute;
    padding-top: 54px;
    left: 0;
    display: none;

    &__inner {
        position: relative;
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
        }
        color: #fff;
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);
        filter: var(--drowdown-arrow-color);
    }
}
