@use "../abstracts";

.dropdown {
    display: none;

    position: absolute;
    left: 0;

    padding-top: 54px;
    width: min(1240px, 100%);

    @include abstracts.breakpoint(lg) {
        position: initial;

        padding-top: 0;
    }
    &__inner {
        --inner-padding: 30px;

        position: relative;

        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--drowdown-arrow-color);
        }
        @include abstracts.breakpoint(lg) {
            padding: 0 40px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            &::before {
                content: none;
            }
        }
        @include abstracts.breakpoint(sm) {
            padding: 0 20px;
        }
    }
}
.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 134px) - var(--inner-padding) * 2);
    position: relative;
    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-boder-color);
        overflow-y: auto;
        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}
.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }
    @include abstracts.breakpoint(lg) {
        margin-top: 10px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;

        width: 36px;
        height: 36px;
        @include abstracts.breakpoint(xl) {
            display: none;
        }

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
    &__content {
        flex: 1;
    }
    &__icon-1 {
        height: 30px;
        width: 30px;
        object-fit: contain;
    }
    &__icon-2 {
        position: absolute;

        right: 0;
        bottom: 0;
        height: 24px;
        width: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }
    &__heading {
        margin-top: 5px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        @include abstracts.breakpoint(lg) {
            margin-bottom: 26px;
        }
    }
    &__list {
        margin-top: 19px;
        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }
    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }
    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);

    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    padding-left: var(--inner-padding);
    overflow-y: scroll;

    @include abstracts.breakpoint(lg) {
        position: initial;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
    }

    &__not-main {
        padding-left: 0;
        height: var(--max-inner-height);
        position: inherit;
        inset: inherit;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include abstracts.breakpoint(lg) {
            grid-template-columns: 1fr;
            height: auto;
        }
    }
}
