@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}
.filter {
    position: absolute;
    right: 0;
    top: 55px;

    padding: 30px 0;
    border-radius: 20px;
    background: var(--filter-form-bg-color);
    filter: drop-shadow(0 40px 90px var(--filter-form-shadow-color));

    transition: opacity, visibility;
    transition-duration: 0.5s;

    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }
    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__arrow {
        position: absolute;
        height: 20px;
        right: 20px;
        top: -18px;
        filter: var(--filter-from-arrow-down-bg);
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
            &--small {
                font-size: 1.4rem;
                line-height: 142.857%;
                margin-bottom: 10px;
            }
        }
        &-group {
            margin-top: 20px;
            &--inline {
                display: grid;
                gap: 30px;
                grid-template-columns: 1fr 1fr;
            }
        }
        &-slider {
            position: relative;

            width: 100%;
            height: 2px;
            background: #d2d1d6;
            &::before,
            &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                content: "";
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: var(--filter-form-bg-color);
                border: 6px solid #ffb700;
            }
            &::before {
                left: var(--min-value);
            }
            &::after {
                left: var(--max-value);
            }
        }
        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }
        &-text-input {
            overflow: hidden;
            display: flex;
            align-items: center;
            width: 334px;
            height: 44px;
            padding: 0 16px;
            @include abstracts.screen(sm) {
                width: 100%;
            }
            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;
                @include abstracts.screen(xl) {
                    width: 100%;
                }
            }
        }
        &-text-input--small &-input {
            font-size: 1.4rem;
        }
        &-input {
            width: 100%;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            &::placeholder {
                font-weight: 400;
                color: #9e9da8;
            }
            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }
        }
        &-input-icon {
            margin-left: 16px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;
        }
        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);
            padding: 0 14px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            cursor: pointer;
        }
        &-select + &-select {
            border-left: 1px solid #d2d1d6;
        }
        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
            align-items: center;
            @include abstracts.screen(sm) {
                gap: 10px;
            }
        }
        &-tag {
            padding: 6px 12px;
            background: var(--filter-from-tag-bg);
            border-radius: 6px;

            color: #9e9da8;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            transition: color 0.2s ease;

            &:hover {
                color: var(--text-color);
            }
        }
    }

    // end form

    &__row {
        display: flex;
    }
    &__title,
    &__content,
    &__footer {
        padding: 0 30px;
    }
    &__content {
        overflow-y: auto;
        overscroll-behavior: contain;
        max-height: calc(100vh - 350px);
        @include abstracts.screen(xl) {
            flex-direction: column;
        }
        @include abstracts.screen(sm) {
            max-height: calc(100vh - 230px);
            padding-bottom: 60px;
        }
    }
    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;
        @include abstracts.screen(xl) {
            width: 100%;
            height: 1px;
            margin: 20px 0px;
        }
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;
        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 30px;
            background: var(--filter-form-bg-color);
        }
    }
    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;
        @include abstracts.screen(sm) {
            flex: 1;
            height: 42px;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }
}
