.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;
        &--inline {
            display: flex;
            align-items: center;
        }
    }
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: red;
            background: rgba($color: red, $alpha: 0.1);
        }
        .form__error,
        .form__input-icon-error {
            display: block;
        }
        .form__input-icon {
            display: none;
        }
    }
    &__text-input {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;
        height: 50px;
        padding: 12px;

        &:focus-within {
            border-color: #77dae6;
        }
    }
    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        &::placeholder {
            color: #d2d1d6;
        }
        &-icon {
            margin-left: 12px;
        }
        &-icon-error {
            display: none;
            margin-left: 12px;
            animation: shake 0.8s;
        }
    }
    &__error {
        display: none;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: red;
    }

    &__pull-right {
        margin-left: auto;
    }
    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &::before,
        ::after {
            position: absolute;
            display: block;
            content: "";
        }
        &::before {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid #9e9da8;
            transform: background, border-color;
            transition-duration: 0.3s;
        }
        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            margin-left: 30px;
        }
    }
    &__checkbox:has(:checked) {
        &::before {
            background: #ffb700;
            border-color: #ffb700;
        }
        ::after {
            top: 4px;
            left: 2px;
            width: 15px;
            height: 9px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
        }
    }
}
