@use "../abstracts";

:root {
    --warning-color: #ed4337;
}

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;
        &--inline {
            display: flex;
            align-items: center;
        }
        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }
    &__row {
        display: flex;

        gap: 30px;

        @include abstracts.screen(md) {
            gap: 20px;
        }
        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 0px;
        }
        > * {
            flex: 1;
        }
    }
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: var(--warning-color);
            background: rgba($color: var(--warning-color), $alpha: 0.1);
        }
        .form__error,
        .form__input-icon-error {
            display: block;
        }
        .form__input-icon {
            display: none;
        }
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        border: 1px solid #d2d1d6;
        padding: 0 12px;
        border-radius: 10px;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-input {
        position: relative;

        height: 50px;

        &--small {
            height: 42px;
        }
        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__text-area {
        padding: 12px;
        height: 100px;

        &-input {
            resize: none;
        }
    }

    &__text-area-input,
    &__input {
        flex: 1;
        width: 100%;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &::placeholder {
            color: (--form-input-placeholder-color);
        }
        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__input {
        width: 100%;
        &-icon {
            margin-left: 12px;
        }
        &-icon-error {
            display: none;
            margin-left: 12px;
            animation: shake 0.3s;
        }
    }
    &__select-dialog {
        position: absolute;
        z-index: 1;

        bottom: 44px;
        left: 10px;

        padding-bottom: 10px;
        background: var(--modal-bg);
        border: 1px solid #9e9da8;
        border-radius: 10px;
        box-shadow: 0 0 5px var(--modal-shadow);
        min-width: 230px;
        max-height: 310px;

        opacity: 0;
        visibility: hidden;
        translate: 0 8px;

        transition: opacity, visibility, translate;
        transition-duration: 0.2s;

        display: flex;
        flex-direction: column;

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }

        @include abstracts.screen(sm) {
            position: fixed;
            max-width: initial;
            max-height: initial;
            inset: 0;
            border-radius: 0;
        }
    }

    &__search {
        display: flex;
        flex-shrink: 0;
        align-items: center;

        padding: 0 20px;
        height: 38px;
        border-bottom: 1px solid var(--modal-form-search-boder);

        &-input {
            flex: 1;
            height: 100%;
            font-size: 1.6rem;
        }
        &-icon {
            margin-left: 10px;
            width: 15px;
        }
        @include abstracts.screen(lg) {
            height: 48px;
            &-icon {
                width: 18px;
            }
        }
        @include abstracts.screen(sm) {
            padding: 0 15px;
            border: 1px solid var(--modal-form-search-boder);
            margin: 10px 30px;
            border-radius: 10px;
        }
    }
    &__options-list {
        margin-top: 10px;

        overflow-y: auto;
        flex: 1;
        overscroll-behavior: contain;

        @supports (-webkit-touch-callout: none) {
            padding-bottom: 340px;
        }
    }

    &__option {
        padding: 8px 20px;
        font-size: 1.4rem;

        @include abstracts.screen(lg) {
            padding: 18px 30px;
            font-size: 1.6rem;
        }

        &--current {
            font-weight: 500;
            background-color: rgba($color: #ffb700, $alpha: 0.5);
        }

        &:not(&--current):hover {
            background-color: rgba($color: #ebebeb, $alpha: 0.7);
            cursor: pointer;
        }
    }
    &__dialog-heading {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        padding: 20px;
    }
    &__close-dialog {
        font-size: 3rem;
        position: absolute;
        right: 10px;
        top: 0;
        padding: 10px 10px;
        opacity: 0.8;
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: var(--warning-color);
    }

    &__pull-right {
        margin-left: auto;
    }
    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &::before,
        ::after {
            position: absolute;
            display: block;
            content: "";
        }
        &::before {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid #9e9da8;
            transform: background, border-color;
            transition-duration: 0.3s;
        }
        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            margin-left: 30px;
            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }
    }
    &__checkbox:has(:checked) {
        &::before {
            background: #ffb700;
            border-color: #ffb700;
        }
        ::after {
            top: 3px;
            left: 2.5px;
            width: 15px;
            height: 9px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
        }
    }
    // Label
    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--medium {
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__tag {
        padding: 6px 12px;
        border-radius: 6px;

        color: #9e9da8;
        background: var(--from-tag-bg);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
