@use "../abstracts";

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    @include abstracts.screen(lg) {
        gap: 10px;
    }
    &__img {
        @include abstracts.screen(lg) {
            width: 24px;
            height: 24px;
        }
    }
    &__title {
        color: var(--text-color);

        /* Bold 22 */
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        @include abstracts.screen(lg) {
            font-size: 1.8rem;
        }
    }
}
