@use "../abstracts";

%fill_screen {
    position: fixed;
    inset: 0;
}
.modal {
    @extend %fill_screen;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }

    &__body {
        padding-right: 20px;
        max-height: calc(100vh - 180px);
        overflow-y: auto;
    }
    &__content {
        position: relative;
        z-index: 1;

        width: min(800px, 100% - 40px);
        padding: 30px 10px 30px 30px;
        background: var(--modal-bg);
        border-radius: 20px;
        box-shadow: 0 20px 60px 10px var(--modal-shadow);

        @include abstracts.screen(sm) {
            padding: 20px 0px 20px 20px;
        }
    }

    &--small &__content {
        width: min(400px, 100% - 40px);
    }
    &--large &__content {
        width: min(1100px, 100% - 40px);
    }

    &__overlay {
        @extend %fill_screen;
        background: rgba($color: #000000, $alpha: 0.5);
    }
    &__text {
        font-size: 1.8rem;
        line-height: 150%;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-end;
        padding-right: 20px;

        @include abstracts.screen(md) {
            gap: 20px;
        }
        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }
    &__btn {
        @include abstracts.screen(md) {
            flex: 1;
        }
    }
}
