@use "../abstracts";

.payment-card {
    position: relative;
    height: 100%;
    padding: 20px;
    border-radius: 10px;

    color: #fff;
    background: var(--payment-card-bg);

    overflow: hidden;

    user-select: none;

    z-index: 0;

    &__img {
        position: absolute;
        top: 0;
        right: 0;

        z-index: -1;

        pointer-events: none;
    }
    &__top {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__number {
        margin-top: 37px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;
    }
    &__bottom {
        margin-top: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        &-content {
            display: flex;
            align-items: center;
            gap: 44px;
        }
    }

    &__label {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 175%;
    }
    &__value {
        font-size: 1rem;
        font-weight: 500;
        line-height: 140%;
    }
    &__expired {
        margin-left: 44px;
    }
    &__circle {
        margin-left: 70px;
    }
}
.new-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 14px;
    border-radius: 10px;
    border: 1px dashed #d2d1d6;

    height: 100%;
    min-height: 170px;

    &__text {
        color: #d2d1d6;
        font-weight: 500;
        line-height: 142.857%;
    }
}
