@use "../abstracts";
.product-card {
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

    border-radius: 20px;
    background: var(--product-card-bg-color);
    box-shadow: 0 20px 60px 10px var(--product-card-shadow-color);

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }
    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        object-fit: contain;
    }
    &__score,
    &__price,
    &__title {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__brand {
        color: var(--product-card-brand-color);
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }
    &__evaluate {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__like-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
