@use "../abstracts";

.review-card {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 30px;
    border-radius: 16px;
    background: var(--review-card-bg);

    @include abstracts.screen(md) {
        background: var(--review-card-bg);
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        @include abstracts.screen(xl) {
            flex-direction: column;
            text-align: center;
        }
        @include abstracts.screen(md) {
            flex-direction: row;
            text-align: inherit;
        }
    }
    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__info {
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__desc {
        margin-top: 10px;

        line-height: 150%;
    }
    &__rating {
        margin-top: 20px;
        display: flex;
        align-items: center;

        @include abstracts.screen(xl) {
            gap: 10px;
            flex-direction: column;
            text-align: center;
        }
        @include abstracts.screen(md) {
            gap: 0px;
            flex-direction: row;
            text-align: inherit;
        }

        &-title {
            margin-left: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            @include abstracts.screen(xl) {
                margin-left: 0;
            }
            @include abstracts.screen(md) {
                margin-left: 20px;
            }
        }
    }
    &__star-list {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
