.search-bar {
    height: 50px;

    border-radius: 10px;
    background: var(--search-bar-bg);

    &__input {
        flex: 1;
        height: 100%;

        padding-left: 15px;
        font-size: 1.6rem;
        line-height: 142.857%;
        font-weight: 500;
        &::placeholder {
            color: #9e9da8;
            font-weight: 400;
        }
    }
    &__submit {
        padding: 0 15px;
    }
    &__icon {
        filter: var(--search-bar-icon-color-dark);
    }
}
