@use "../abstracts";

.text-content {
    font-size: 1.6rem;
    line-height: 1.6;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }
    h1 {
        font-size: 2.6rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    h5 {
        font-size: 1.6rem;
    }
    h6 {
        font-size: 1.4rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    img,
    figure,
    blockquote,
    em,
    ul,
    ol,
    table {
        margin: 20px 0;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    img + em {
        display: block;
        font-style: italic;
        text-align: center;
    }

    a {
        color: #77dae6;
        text-decoration: underline;
    }
    blockquote {
        background: rgb(119, 218, 230, 0.1);
        padding: 20px;
        border-left: 3px solid #77dae6;
        p {
            margin: 0;
        }
    }
    hr {
        margin: 40px 0;
        border: none;

        height: 1px;
        background: #77dae6;
    }
}
.main {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    overflow: visible;
    &-content {
        flex: 3;
    }
    &-sidebar {
        min-height: 3000px;
        flex: 1;

        @include abstracts.screen(lg) {
            display: none;
        }
    }
    .sticky-ad {
        display: block;

        margin-top: 60px;
        position: sticky;
        position: -webkit-sticky;
        top: 80px;
        z-index: 100;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
