*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Gordita", sans-serif;
    font-size: 1.6rem;
    background-color: var(--body-bg-color);
}
a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    color: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.icon {
    filter: var(--icon-color);
}
