@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Gordita", sans-serif;
    font-size: 1.6rem;
    color: var(--text-color) !important;
    background-color: var(--body-bg-color);
}
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
a,
img,
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    --webkit-tap-highlight-color: transparent;
    padding: 0;
}

button {
    color: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.icon {
    filter: var(--icon-color);
}
