@use "sass:math";

/* ===================== VARIABLES ===================== */

$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$container-max-widths: (
    sm: 100%,
    md: 540px,
    lg: 720px,
    xl: 960px,
    xxl: 1140px,
);

$grid-columns: 12;
$grid-gutter-width: 30px;

$gutters: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);

/* ===================== PLACEHOLDERS ===================== */

%gutter-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

%container-base {
    --grid-gutter-x: #{$grid-gutter-width};
    --grid-gutter-y: 0;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @extend %gutter-padding;
}

/* ===================== LAYOUT ===================== */

.container-fluid {
    @extend %container-base;
}

.container {
    @extend %container-base;
    width: 1370px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--grid-gutter-y) * -1);
    margin-left: calc(var(--grid-gutter-x) * -0.5);
    margin-right: calc(var(--grid-gutter-x) * -0.5);

    &[class*="row-cols-"] > *,
    [class*="col-"] {
        flex: 0 0 auto;
        @extend %gutter-padding;
    }

    > * {
        margin-top: var(--grid-gutter-y);
    }
}

.col {
    flex: 1 0;
    @extend %gutter-padding;
}

/* ===================== MIXINS ===================== */

@mixin make-media-query($dimension) {
    @media (max-width: ($dimension - 0.02)) {
        @content;
    }
}

@mixin make-row-columns($infix: null) {
    $max-cols: math.div($grid-columns, 2);

    @for $i from 1 through $max-cols {
        .row-cols#{$infix}-#{$i} > * {
            width: math.div(100%, $i);
        }
    }
}

@mixin make-columns($infix: null) {
    @for $i from 1 through $grid-columns {
        .col#{$infix}-#{$i} {
            width: math.div(100%, $grid-columns) * $i;
        }
    }
}

@mixin make-offsets($infix: null) {
    @for $i from 0 to $grid-columns {
        .offset#{$infix}-#{$i} {
            margin-left: if($i > 0, math.div(100%, $grid-columns) * $i, 0);
        }
    }
}

@mixin make-gutters($infix: null) {
    @each $i, $ratio in $gutters {
        .g#{$infix}-#{$i},
        .gx#{$infix}-#{$i} {
            --grid-gutter-x: #{$grid-gutter-width * $ratio};
        }

        .g#{$infix}-#{$i},
        .gy#{$infix}-#{$i} {
            --grid-gutter-y: #{$grid-gutter-width * $ratio};
        }
    }
}

/* ===================== GENERATE ===================== */
@include make-row-columns();
@include make-columns();
@include make-offsets();
@include make-gutters();

@each $breakpoint, $dimension in $grid-breakpoints {
    $max-width: map-get($container-max-widths, $breakpoint);

    $infix: "-#{$breakpoint}";

    @include make-media-query($dimension) {
        .container {
            @if $max-width != null {
                max-width: $max-width;
            }
        }

        @include make-row-columns($infix);
        @include make-columns($infix);
        @include make-offsets($infix);
        @include make-gutters($infix);
    }
}
