<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col footer__col-top">
                <a href="./" class="logo footer-logo">
                    <img src="./assets/icons/logo.svg" all="grocerymart" class="logo__img" />
                    <h1 class="logo__title">grocerymart</h1>
                </a>
                <p class="footer__desc">
                    Bringing the original flavor of coffee from the finest regions directly to your hands.
                </p>
            </div>

            <div class="footer__col">
                <div class="footer__section">
                    <h3 class="footer__heading">Shop</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#!" class="footer__link">Coffee Beans</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Ground Coffee</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Coffee Machines</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Barista Tools</a></li>
                    </ul>
                </div>
                <div class="footer__section">
                    <h3 class="footer__heading">Services</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#!" class="footer__link">Home Delivery</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Subscription</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__col">
                <div class="footer__section">
                    <h3 class="footer__heading">Products</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#!" class="footer__link">Arabica</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Robusta</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Blend Coffee</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Coffee Gifts</a></li>
                    </ul>
                </div>
                <div class="footer__section">
                    <h3 class="footer__heading">Company</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#!" class="footer__link">Terms of Service</a></li>
                        <li class="footer__item"><a href="#!" class="footer__link">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__col footer__col-bottom">
                <h3 class="footer__heading">Get in touch</h3>
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/facebook.svg" alt="Facebook" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/twitter.svg" alt="Instagram" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/linkedin.svg" alt="Youtube" class="footer__social-icon icon" />
                    </a>
                </div>

                <h3 class="footer__heading footer__heading--small">Subscribe</h3>
                <form action="" class="footer__form">
                    <div class="footer__form-group">
                        <input type="email" placeholder="Email address" class="footer__form-input" required />
                        <button class="btn footer__btn btn--primary">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">©2025 Grocerymart. All rights reserved.</p>
        </div>
    </div>
</footer>
